<div class="container-fluid" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="33%">
    <div class="example-container">
      <h3>Login</h3>
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>

      <div fxFlex="10%">
        <button mat-raised-button color="primary">LOGIN</button>
      </div>
    </div>

  </div>
</div>
